<section class="fila" style="width:100%">

  <div class="contenedor1">

    <div class="col-full-12 col-12">
      <h2>Deals</h2>
    </div>
    <div class="col-full-12 col-12">
      <h3>Totals</h3>
    </div>

  </div>


    <div class="contenedor1">

      <div class="col-full-3 col-3">
        <h4>Total Currency</h4>
      </div>
      <div class="col-full-3 col-3">
        <h4>Total Teams & Projects</h4>
      </div>
      <div class="col-full-3 col-3">
        <h4>Totals Advance</h4>
      </div>
      <div class="col-full-3 col-3">
        <h4>Best Team</h4>
      </div>

  </div>


  <div class="contenedor1">
    <div  class="col-full-12 col-12">
      <h3>Teams Currency</h3>
    </div>
  </div>

  <div class="contenedor1">
    <div  class="col-full-12 col-12">
      <h3>Teams Advanced</h3>
    </div>
  </div>

  <div class="contenedor1">
    <div  class="col-full-12 col-12">
      <h3>Best Team </h3>
    </div>
  </div>

  <div class="contenedor1">
    <div  class="col-full-12 col-12">
      <h3>Best Project </h3>
    </div>
  </div>

  <div class="contenedor1">
    <div  class="col-full-12 col-12">
      <h3>Best Currency </h3>
    </div>
  </div>

    <div class="contenedor1">
    <div  class="col-full-12 col-12">
      <h3>Worst Project </h3>
    </div>
  </div>

  <div class="contenedor1">
    <div  class="col-full-12 col-12">
      <h3>Worst Currency </h3>
    </div>
  </div>

</section>
