<div class="fila" style="width:100%">

  <div class="contenedor1">

    <div class="col-full-12 col-12">
      <h2>Deals</h2>
    </div>
    <div class="col-full-12 col-12">
      <h3>Totals</h3>
    </div>

  </div>


    <div class="contenedor1">

    <div class="col-full-3 col-3">
      <h4>Deals</h4>
    </div>
    <div class="col-full-3 col-3">
      <h4>Totals</h4>
    </div>
    <div class="col-full-3 col-3">
      <h4>Totals</h4>
    </div>
    <div class="col-full-3 col-3">
      <h4>Totals</h4>
    </div>

  </div>


</div>
