/* You can add global styles to this file, and also import other style files */
 // HEX color codes used: #F1F1F1, #202020, #7E909A, #1C4E80, #A5D8DD, #EA6A47, #0091D5


/*
#517BA4
RGB: 81–123–164

RGB [%]: 31.8–48.2–64.3

#346390
RGB: 52–99–144

RGB [%]: 20.4–38.8–56.5

#1C4F80
RGB: 28–79–128

RGB [%]: 11–31–50.2

#0F3C69
RGB: 15–60–105

RGB [%]: 5.9–23.5–41.2

#052A4E
RGB: 5–42–78

RGB [%]: 2–16.5–30.6

Secondary color #1
#635EB0
RGB: 99–94–176

RGB [%]: 38.8–36.9–69

#443F9B
RGB: 68–63–155

RGB [%]: 26.7–24.7–60.8

#2C2689
RGB: 44–38–137

RGB [%]: 17.3–14.9–53.7

#1C1770
RGB: 28–23–112

RGB [%]: 11–9–43.9

#0E0A54
RGB: 14–10–84

RGB [%]: 5.5–3.9–32.9

Secondary color #2
#FDDD73
RGB: 253–221–115

RGB [%]: 99.2–86.7–45.1

#DFBA44
RGB: 223–186–68

RGB [%]: 87.5–72.9–26.7

#C59E1F
RGB: 197–158–31

RGB [%]: 77.3–62–12.2

#A17E0C
RGB: 161–126–12

RGB [%]: 63.1–49.4–4.7

#795C00
RGB: 121–92–0

RGB [%]: 47.5–36.1–0

Complement color
#FDC573
RGB: 253–197–115

RGB [%]: 99.2–77.3–45.1

#DFA044
RGB: 223–160–6#8

RGB [%]: 87.5–62.7–26.7

#C5811F
RGB: 197–129–31

RGB [%]: 77.3–50.6–12.2

#A1640C
RGB: 161–100–12

RGB [%]: 63.1–39.2–4.7

#794700
RGB: 121–71–0

RGB [%]: 47.5–27.8–0*/
